/* <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet"> */

.game{
font-family: 'Satisfy', cursive;
background-color: rgb(72, 119, 135);
height: 800px;
width: 100%;
background-image: url("..belize-logo");

background-repeat: no-repeat;

}


.gameTitle{
    text-align: Center;
    color: darkblue;  
    border-radius: 30%;
    font-size: 50px; 
}

.winner {
    color: gold ;
}
.start-button{
    background-color: blue;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}