/* Main Page, Page-1 Player, Page 2-Player */

.mainPage{
background-image: url("../game-1a/island.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.player1{
background-image: url("../game-1a/Caribbean-Belize_Island.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.player2{
background-image: url("../game-1a/blue-hole.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 600px;
}

.mPbutton{
    color: black;
padding-left: 50px;
padding-top: 100px;

}
#p1Footer{
background-color: aqua;
}
body {
    font-family: 'Inknut Antiqua', serif,'Barlow', sans-serif;
}


#container {
    width:30%;
    margin:auto;
    padding: 25px 25px 40px 25px;
    /* background-color: rgba(3, 17, 213, 0.974); */ 
    border:10px solid aqua, 0.1;
    border-radius:25px;
    color: yellow;
    font-weight: bold;
    /* box-shadow: 5px 25px 100px rgb(255, 255, 255); */
}

.title {
    text-decoration: bold;
    text-align: Center;
    padding-top: 100px;
    color: rgb(5, 12, 215);
    border-radius: 30%;
    font-size: 80px;
}

.button {
    border:4px solid;
    border-radius:25px;
    width: 120px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.questions{
    font-size: 50px;
    padding-left: 100px;
}

.answers{
    font-size: 20px;
}

.button.active {
    background-color: rgb(21, 10, 226);
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#start {
    display:none;

}

.playerTwo{
    margin-bottom: -9px;
}

/* ======================== */

.gameTitle{
    text-align: Center;
    color: rgb(164, 239, 245);  
    border-radius: 30%;
    font-size: 50px; 
}
.player1Game{
    text-align: Center;
    color: blue;  
    border-radius: 30%;
    font-size: 50px; 
}

.start{
    background-color: blue;
    display:none;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25%;
    position: center;
}


/* 2 Player self-scoring  board and winner */

.score-board {
    position: right;
    padding-left: 50px;
    padding-top: 50px;
    }

.winner {
    color: gold ;
}

#p1{
    background-color: rgba(0, 255, 251, 0.9);
    font-size: 15px;
    height: 50px;
    width: 100px;
    border-radius: 25%;
    
}
#p2{
    background-color: rgba(0, 255, 251, 0.9);
    font-size: 15px;
    height: 50px;
    width: 100px;
    border-radius: 25%;
    
}
#reset{
    background-color: rgba(0, 255, 251, 0.8);
    font-size: 15px;
    height: 50px;
    width: 100px;
    border-radius: 25%;
    
}

.backMain{
    background-color:rgb(0, 255, 251, 0.9);
    font-size: 25px;
    text-decoration:none;
    height: 75px;
    width: 150px; 
    border-radius: 15%;   
}
.backMain.active{
    /* background-color: rgba(10, 31, 189, 0.5); */
    color: red;
    font-size: 20px;
    text-decoration: none;
    height: 75px;
    width: 150px; 
    border-radius: 15%;   
}

/* =================== */

  /* true button*/

   .pTbutton {
   background-color: blue;
   height:30px;
   width:250px;
   border-radius: 12px;
    border: none;
      color: white;
      text-align: center;
      text-decoration: none;
     font-family: comic sans ms; 
     font-size: 16px;
  }
  
  /*activated */ 

  .pTbutton:hover { 
   color: #000000; 
    background-color: #00eeff;
  } 

  /*false button  */
  
  .pFbutton {
   background-color: blue;
   height:30px;
   width:250px;
   border-radius: 12px;
    border: none;
      color: white;
      text-align: center;
      text-decoration: none;
     font-family: comic sans ms;
    font-size: 16px;
  }

  /* activated */

  .pFbutton:hover { 
   color: #000000; 
    background-color: red; 
  }
  
 #calc{
    background-color: blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
    height: 55px;
    width: 150px; 
    border-radius: 15%;  
 } 
.blueFish{
padding-left: 550px;
padding-top: 50px;
opacity: 0.5;
filter: alpha(opacity=25);

}

.foot{
background-color: rgb(41, 255, 251, 0.2);
margin: 0px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: -7px;
margin-right: -7px;

 } 

 /* =============== */
 